<v-container class="fill-height" fluid style="
      padding-top: 10%;">
  <v-layout row wrap justify-center align-center>
    <v-col cols="12" sm="8" md="4">
      <v-card class="elevation-12 fadeIn first">
        <v-toolbar  flat color="primary">
          <v-container class="pa-#">
            <v-img  :src="logoUrl" >
            </v-img>
          </v-container>
          
          <v-spacer></v-spacer>
        </v-toolbar>
        <v-card-text>
          <v-form>
            <v-text-field class="fadeIn second" id="userName-login" @blur="$v.login.username.$touch()" label="Usuário"
              v-model.trim="login.username" name="userName" prepend-icon="mdi-account" :error-messages="userNameErrors"
              type="text" @keydown.prevent.enter="authorization()" outlined>
            </v-text-field>

            <v-text-field id="password" class="fadeIn second" v-model.trim="login.password" name="password" label="Senha"
              prepend-icon="mdi-lock" :type="showPassword ? 'text' : 'password'"
              :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'" @blur="$v.login.password.$touch()"
              :error-messages="passwordErrors" @click:append="showPassword = !showPassword" @keydown.prevent.enter="authorization()" outlined>
            </v-text-field>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" @click="authorization()">Entrar</v-btn>
          <v-btn color="primary" @click="createAccount()">Registrar</v-btn>
        </v-card-actions>
      </v-card>
    </v-col>

  </v-layout>


</v-container>